/* leftsead */
#leftsead{width:161px;height:290px;position:fixed;top:381px;right:13px; z-index:999;}
*html #leftsead{margin-top:258px;position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#leftsead li{width:161px;height:49px;}
#leftsead li img{float:right; position: relative; z-index: 999;}
#leftsead li a{height:49px;float:right;display:block;min-width:47px;max-width:161px;}
#leftsead li a .shows{display:block;}
#leftsead li a .hides{margin-right:-143px;cursor:pointer;cursor:hand;}
#leftsead li a.youhui .hides{display:none;position:absolute;right:143px;}
#leftsead li a.youhui .2wm{display:none;position:absolute;right:143px;}
#p2{width:115px;background-color:#e70f00;height:49px;margin-left:47px;border:1px solid #e70f00;text-align:center;line-height:47px}
#p3{width:115px;background-color:#e70f00;height:49px;margin-left:47px;border:1px solid #e70f00;text-align:center;line-height:47px}
#p1{width:47px;height:49px;float:left}
