/*优惠券*/
.round .current{color: #1380cb;}
.round-list{display: none; margin-top: 32px;width: 960px;}
.round-list li{float: left;margin-right: 29px;}
.round-list .round-last-child{margin-right: 0;}
.round-red{background: #fe4757;}
.round-box{position: relative; width: 290px;}
.round-coupon{margin-top: 20px;}
.round-box .round-box-top{position: relative; height: 126px; border-radius: 5px 5px 0 0;}
.round-box-top .round-price{padding-top: 30px; font-size: 30px;}
.round-box .round-edga{display: inline-block;position: absolute;left: 0;bottom: 0;  width: 100%;height: 3px;  background:url(../images/bg_edge.png) repeat-x ;background-size: 10px 3px;}
.round-box .round-use{background: #fff;border-top:none;border-radius: 0 0 5px 5px;}
.round-use p,.round-use span{color: #707070;}
.round-use .icon-date{display: inline-block;vertical-align: -3px; width: 15px;height: 13px; background:url(../images/icon_date.png) no-repeat;}
.round-use .icon-limit{display: inline-block;vertical-align: -3px; width: 15px;height: 13px; background:url(../images/icon_limit.png) no-repeat;}
.round-use .icon-rule{display: inline-block;vertical-align: -3px;margin-left: 10px; width: 15px;height: 13px; background:url(../images/icon_rule.png) no-repeat;}
.round-font{margin-left: 25px;}
.round-bottom{position: relative;left: 50%;margin-left: -12px;margin-bottom: 5px; width: 24px;height: 4px;background: #e2e2e2;}
.round-box .round-img{position: absolute;top: 89px;right: 9px;}











