.round-box{border-radius: 5px;overflow: hidden;}
.bg-blue{background: #0193e6;}
.bg-pink{background: #fe4757;}
.bg-deep-gray{background: #878787;}
.coupin-content{margin-top:60px;}
.round-box-top{background: url(../images/bg_8.png) repeat-x left bottom; background-size: 10px 3px;}
.round-box-top .icon{width:50px;height: 50px;background-size: 50px 50px;}
.icon-used{background: url(../images/icon_used.png) no-repeat;}
.icon-exprice{background: url(../images/icon_exprice.png) no-repeat;}
.icon-date{background: url(../images/icon_date.png) no-repeat;}
.icon-limit{background: url(../images/icon_limit.png) no-repeat;}
.icon-rule{background: url(../images/icon_rule.png) no-repeat;}
.text-block{display: block;}
.coupin-detail,.coupin-content .lists{color: #707070;}
.coupin-icon i{width: 12px;height: 12px;display: inline-block;margin-right: 10px;background-size: 12px;}
.coupin-icon{line-height: 12px;color: #707070;}
.coupin-content .lists{margin-left: 22px;margin-top: 10px;}
.control{width: 44px;height: 5px;margin: 0 auto;background: #eee;border-radius: 10px;}
.user-list-none img { margin: 140px auto 0; width: 90px; }
.order-lists{height: 100%;}

.use-coupon-lists .pay-lists .pay-list .hd-checkbox{float: left; margin-top: 14px; margin-right: 15px; }
.use-coupon-lists .hd-checkbox{min-height: 40px;}