{template header common}
<link type="text/css" rel="stylesheet" href="{__ROOT__}system/module/coupon/statics/css/haidao.mobile.css?v={HD_VERSION}" />
<div class="mui-content">
	<div class="filter-items full border-bottom bg-white mui-clearfix">
		<div class="mui-pull-left padding-big-left padding-big-right">
			<a href="<?php echo url('coupon/get_coupon/index')?>" class="filter-item {if (!in_array($_GET[status],array(1,2,3,4)))}current{/if}">全部</a>
		</div>
		<div class="mui-pull-left padding-big-left padding-big-right">
			<a href="<?php echo url('coupon/get_coupon/index', array('status' => 1))?>" class="filter-item {if ($_GET[status] == 1)}current{/if}">未使用</a>
		</div>
		<div class="mui-pull-left padding-big-left padding-big-right">
			<a href="<?php echo url('coupon/get_coupon/index', array('status' => 4))?>" class="filter-item {if ($_GET[status] == 4)}current{/if}">已使用/已过期</a>
		</div>
	</div>
	<div class="margin-big-left margin-big-right coupin-content">
		{if $coupons}
		<?php foreach ($coupons as $k => $v) {  ?>
			<div class="round-box <?php if($v['end_time'] <= time()){echo 'bg-deep-gray';}else{ if($v['type_use'] == 1){ echo 'bg-blue';}else{echo 'bg-pink';}}?> <?php if($k!=0){echo 'margin-big-top';}?> ">
				<div class="round-box-top padding mui-row">
					<?php if($v['status'] == 2){ ?>
					<div class="icon icon-used mui-pull-left margin-small-top"></div>
					<?php }?>
					<?php if($v['status'] == 1 && $v['end_time'] <= time()){ ?>
					<div class="icon icon-exprice mui-pull-left margin-small-top"></div>
					<?php }?>
					<div class="text mui-pull-right">
						<span class="text-white mui-text-right hd-h3 text-block margin-small-top">￥<?php echo $v['discount'];?></span>
						<span class="text-white mui-text-right hd-h6 text-block margin-top"><?php if($v['type_use'] == 1){echo '全品类优惠券';}else{echo '指定品类优惠券';} ?></span>
					</div>
				</div>
				<div class="padding coupin-detail bg-white">
					<p class="hd-h6 mui-clearfix coupin-icon">
						<i class=" icon-date mui-pull-left"></i>使用期限：<?php echo date('Y.m.d', $v['end_time']);?></p>
					<p class="hd-h6 margin-small-top mui-row coupin-icon">
						<i class="icon-limit mui-pull-left"></i>金额限制：<?php if($v['condition'] == -1){echo '不限制购物金额';}else{echo '满'.$v['condition'].'元可用';}?>
					</p>
				</div>
				<div class="bg-white padding border-top border-dashed coupin-hide hide">
					<p class="hd-h6 mui-clearfix coupin-icon"><i class="icon-rule mui-pull-left"></i>使用规则：</p>
					<ul class="lists">
						<li class="hd-h6"><?php echo $v['describe'];?></li>
					</ul>
				</div>
				<div class="round-box-bottom padding-bottom bg-white">
					<span class="text-block control"></span>
				</div>
			</div>
		<?php }?>
		{else}
			<ul class="order-lists mui-clearfix">
				<li class="user-list-none mui-text-center">
					<img src="{__ROOT__}system/module/coupon/statics/images/bg_3.png">
					<p class="margin-top text-black hd-h5">您还没有相关的优惠券</p>
				</li>
			</ul>
		{/if}
	</div>
	<!-- 无订单时 -->
	<!-- <div class="margin-big-left margin-big-right coupin-content hide">
		<ul class="order-lists mui-clearfix">
			<li class="user-list-none mui-text-center">
				<img src="images/bg_2.png">
				<p class="margin-top text-black hd-h5">您还没有相关的订单</p>
			</li>
		</ul>
	</div> -->

</div>
</body>
<script>
	$(function(){
		$(".round-box").on("tap",function(){
			var child=$(this).find('.coupin-hide');
			if(child.hasClass('hide')){
				child.removeClass("hide");
			}else{
				child.addClass("hide");
			}
		})
	})
</script>
</html>

